/* 确保适应不同的屏幕尺寸 */
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#media-player {
    position: relative;
    height: 100%;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#media-image-container {
    width: 90%;
    height: 60%;
    background-size: cover;
    background-position: center;
    border: 3px solid #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: relative;
    cursor: pointer;
}

.hidden {
    display: none;
}

#media-audio {
    margin-top: 20px;
}

/* 把按钮放在另一个盒子里 */
.container {      
    display: flex;
}


button {
    padding: 15px 30px;
    margin: 10px 30px;
    font-size: 1.5em;
    font-weight: bold;
    color: #d5d5d5;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

button::before,
button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    pointer-events: none;
    transition: all 0.3s;
    z-index: -1;
}

button::before {
    background: linear-gradient(to right, transparent 50%, rgba(142, 90, 90, 0.5) 50%);
    transform: translateX(-100%);
}

button::after {
    background: linear-gradient(to bottom, transparent 50%, rgba(79, 129, 144, 0.5) 50%);
    transform: translateY(-100%);
}

button:active::before,
button:active::after {
    transform: translate(0);
}

button:active::before {
    animation: melt-left 0.3s forwards;
}

button:active::after {
    animation: melt-top 0.3s forwards;
}

@keyframes melt-left {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}

@keyframes melt-top {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0); }
}

/* 融化特效 */
button:active {
    animation: melt-button 0.5s ease-in-out;
}

@keyframes melt-button {
    0% {
        box-shadow: 0 0 0 rgba(255, 255, 255, 0.5);
    }
    50% {
        box-shadow: 0 -10px 20px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 rgba(255, 255, 255, 0.5);
    }
}

#text-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 63.6%;
    background: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: transform 0.6s;
    font-family: 'Arial Black', Gadget, sans-serif;
}



#media-image-container, #text-overlay {
    backface-visibility: hidden;
    transition: transform 0.7s;
    transition-timing-function: ease-out;
}

#media-image-container.flipped {
    transform: rotateY(180deg);
}

#text-overlay.flipped {
    transform: rotateY(0deg);
}